<header class="border-2 bg-blue-500 text-white flex justify-between px-8  h-[80px] items-center">
<div class="text-2xl font-bold">
    Gestion de Notes
</div>

<nav class="mr-[100px]">
<ul class="flex space-x-6 items-center">
<li class="border border-white px-5 py-2 rounded-lg bg-white font-bold text-blue-500" ><a routerLink="/accueil">Accueil</a></li>
<li class=" border border-white px-5 py-2 rounded-lg"><a routerLink="" >Listes de notes</a></li>
<li class=" border border-white px-5 py-2 rounded-lg"><a routerLink="/stats">Statistiques</a></li>

</ul>

</nav>

</header>